{% load staticfiles %}
<!DOCTYPE html>
<html lang="zh-cn">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>添加机场</title>
<link href="{% static 'css/style.css' %}" rel="stylesheet">
<link href="{% static 'css/response.css' %}" rel="stylesheet">
</head>
<body class="bg">
<div class="content">
	<div class="header">
		<div class="header-nei">
			<a href="javascript:;" onclick="javascript:history.back(-1);" class="back-up"><i class="iconfont">&#xe61f;</i></a>
			<h2 class="header-title">添加机场</h2>
		</div>
	</div>
	<!--head/-->
	<div class="head-height">&nbsp;</div>
    <!--录入校验在style.js  搜order-btn-->
	<div class="login-reg" style="padding-top:16px;">
		<div class="log-reg-list"><input type="text" class="log-reg-text2 order-airport_name" placeholder="机场名称"/><span>*</span></div>
        <div class="log-reg-list"><input type="text" class="log-reg-text2 order-airport_city" placeholder="机场所在城市"/><span>*</span></div>
        <div class="log-reg-list"><input type="text" class="log-reg-text2 order-airport_tem" placeholder="机场当前气温"/><span>*</span></div>
        <div class="log-reg-list"><input type="text" class="log-reg-text2 order-airport_wea" placeholder="机场天气信息"/><span>*</span></div>
        <div class="log-reg-sub">
			<a href="javascript:;" class="log-reg-btn order-btn-add_airport">添加</a>
		</div>
	</div>
</div>
<!--content/-->
<div class="bg100"></div>
<!--错误提示-->
<div class="tip-errors-bg">
	<div class="tip-tip-box-nei">
		<strong><i class="iconfont">&#xe614;</i><em class="errors">错误提示</em></strong>
	</div>
	<!--tip-tip-box/-->
</div>
<!--tip-success-bg/-->
<!--正确提示-->
<div class="tip-success-bg">
	<div class="tip-tip-box-nei">
		<strong><i class="iconfont" style="color:#0F0;">&#xe611;</i><em class="success">正确提示</em></strong>
	</div>
	<!--tip-tip-box/-->
</div>
<!--tip-success-bg/-->
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/style.js' %}"></script>
</body>
</html>