{% load staticfiles %}
<!DOCTYPE html>
<html lang="zh-cn">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>机场查询结果</title>
<link href="{% static 'css/float.css' %}" rel="stylesheet">
<link href="{% static 'css/personCenter.css' %}" rel="stylesheet">
<link href="{% static 'css/widget_new.css' %}" rel="stylesheet">
<link href="{% static 'css/index_new.css' %}" rel="stylesheet">
<link href="{% static 'css/base.css' %}" rel="stylesheet">
<link href="{% static 'css/style.css' %}" rel="stylesheet">
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/style.js' %}"></script>
<script type="text/javascript">
	$(function(){
	var url = decodeURI(window.location.href);
    var url = url.split("?")[1];
    var para = url.split("&");
    var len = para.length;
    var post_data = {};
    var arr = [];
    for(var i=0;i<len;i++) {
        arr = para[i].split("=");
        post_data[arr[0]] = arr[1];
    }
    if (post_data["airport"] == ''){
        url = 'http://127.0.0.1:8000/Myflightadmin/search_airport_by_City/'
        $.ajax({
			type: 'GET',
			url: url,
			data: post_data,
			dataType: 'json',
			success: function(data) {
			    //data = JSON.parse(data);
				console.log(data);
                if (data["is_exist"] == "1")
					printairport(data.airport);
				else
					alert("未查找到机场!")
			},
			error: function(xhr, type) {
				alert("与服务器连接失败search_airport_by_City:404!")
			}
		});
    }
    else{
        url = 'http://127.0.0.1:8000/Myflightadmin/search_airport_by_Id/'
        $.ajax({
			type: 'GET',
			url: url,
			data: post_data,
			dataType: 'json',
			success: function(data) {
			    //data = JSON.parse(data);
				console.log(data);
                if (data["is_exist"] == "1")
					printairport(data.airport);
				else
					alert("未查找到机场!")
			},
			error: function(xhr, type) {
				alert("与服务器连接失败search_airport_by_Id:404!")
			}
		});
    }
    function printairport(data)
        {
        	$('#creat_ui').empty();
        	$('#creat_ui').append('<ui> </ui>');
        	var plan = "--";
        	var flight_index;
            var str_a = "a";
            flight_index = str_a.charCodeAt(0);
            var index = 0;
        	for(var i=0;i<data.length;i++)
        	{
                var str_index = String.fromCharCode(flight_index++);
        		var $trTemp = $("<li style='position: relative;'></li>");
        		$trTemp.append(
        			"<div class='li_com'>"+
						"<span class='w260'>"+
							"<b>"+
								"<span  title='"+data[i].city+"' id='t"+(index++)+"'>"+data[i].city+"</span>"+
								"<span  title='"+data[i].airport+"' id='t"+(index++)+"'>" +data[i].airport+"</span>"+
							"</b>"+
						"</span>"
                +"<span class='w150' id='t"+(index++)+"'>"+data[i].temperature+"</span>"
        		+"<span class='w150' id='t"+(index++)+"'>"+data[i].weather+"</span>"
                +"<span class='w150'><a href='javascript:;' id='"+str_index+"' onclick='cg(this)'>"+"修改"+"</a></span>"+
						"<span class='fob'><a onclick=del_submit('"+str_index+"') href='javascript:;' style='color:red;z-index:6;position: relative;'>"+"[删除机场]"+"</a></span>"+
						"<div class='clear'></div></div>");
        		$trTemp.appendTo("#creat_ui");
        	}

        }
})
</script>
</head>
<body class="bg">
	<div class="header">
		<div class="header-nei">
			<a href="javascript:;" style="color:#fff" onclick="javascript:history.back(-1);" class="back-up"><i class="iconfont">返回</i></a>
			<h2 class="header-title">机场查询结果</h2>
		</div>
	</div>

	<div class="flight_list">
		<div class="tit">
			<h1 title="北京首都---上海浦东">北京首都---上海浦东<span>4月19号周五 共21次航班</span></h1>
		</div>
		<div class="li_box" id="li_box">
			<div class="t_tit" id="t_tit">
				<p class="w260">机场信息</p>
				<p class="w150">机场温度</p>
				<p class="w150">机场天气</p>
				<p class="w150">修改/保存</p>
				<p class="w150">删除</p>
				<div class="clear"></div>
			</div>
            <div id ="creat_ui">
			<ul id="list">

		    </ul>
            </div>
		    </div>
	</div>
<!--content/-->
<div class="bg100"></div>
<!--错误提示-->
<div class="tip-errors-bg">
	<div class="tip-tip-box-nei">
		<strong><i class="iconfont">&#xe614;</i><em class="errors">错误提示</em></strong>
	</div>
	<!--tip-tip-box/-->
</div>
<!--tip-success-bg/-->
<!--正确提示-->
<div class="tip-success-bg">
	<div class="tip-tip-box-nei">
		<strong><i class="iconfont" style="color:#0F0;">&#xe611;</i><em class="success">正确提示</em></strong>
	</div>
	<!--tip-tip-box/-->
</div>
<!--tip-success-bg/-->
<script>
    var zero = "a";
    var num = 4;
del_submit = function(data){
    var index = data.charCodeAt(0) - zero.charCodeAt(0);
    index = index*num + 1;
    var o = document.getElementById("t" + String(index));
    post_data = {};
    post_data['airport'] = o.innerHTML;
    $.ajax({
            type: 'POST',
            url: 'http://127.0.0.1:8000/Myflightadmin/del_airport/',
            data: post_data,
            dataType: 'json',
            success: function(data) {
                if (data["issucceed"] == "1") {
                        alert("修改成功!")
                        location.reload(true);
                    }
                else
                    alert("删除机场失败,请重试!")
            },
            error: function(xhr, type) {
                alert("删除失败,无法与服务器连接!del_airport404")
            }
        });
}
var msg = ['city','airport','temperature','weather'];
cg = function (obj) {
	var post_data ={};
	var issubmit = 0;
	var index = obj.id.toString().substr(0).charCodeAt(0)  - zero.charCodeAt(0);
	if (obj.innerHTML == '保存') {
		for (var i = index*num+2;i<index*num+num;i++){
			var o = document.getElementById("t" + String(i));
			if (o.childNodes[0].value) {
				issubmit = 1;
			}
			else {
				issubmit = 0;
				break;
			}
		}
		if (issubmit == 1){
		    var i;
			for ( i = index*num;i<index*num+num;i++){
				var o = document.getElementById("t" + String(i));
				if (i>=index*num+2)
				    o.innerHTML = o.childNodes[0].value;
				post_data[msg[i-index*num]] = o.innerHTML;
			}
			obj.innerHTML = '修改';
			//post_data["flight"] = post_data;
			$.ajax({
				type: 'POST',
				url: 'http://127.0.0.1:8000/Myflightadmin/mod_airport/',
				data: post_data,
				dataType: 'json',
				success: function(data) {
				    console.log(data);
	                if (data["issucceed"] == "1") {
                        alert("修改成功!")
                        location.reload(true);
                    }
					else
						alert("修改失败,请重试!")
				},
				error: function(xhr, type) {
					alert("修改失败,无法与服务器连接!")
				}
			});
		}
		else{
			alert("存在未填写项目!");
		}
	}
	else{
		for (var i = index*num+2;i<index*num+num;i++){
			var o = document.getElementById("t" + String(i));
			o.innerHTML = "<input type='text' value='" + document.getElementById("t" + String(i)).innerHTML + "' />";
		}
		obj.innerHTML = '保存';
	}
}
</script>
</body>
</html>