{% load staticfiles %}
<!DOCTYPE html>
<html lang="zh-cn">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>航班查询结果</title>
<link href="{% static 'css/float.css' %}" rel="stylesheet">
<link href="{% static 'css/personCenter.css' %}" rel="stylesheet">
<link href="{% static 'css/widget_new.css' %}" rel="stylesheet">
<link href="{% static 'css/index_new.css' %}" rel="stylesheet">
<link href="{% static 'css/base.css' %}" rel="stylesheet">
<link href="{% static 'css/style.css' %}" rel="stylesheet">
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/style.js' %}"></script>
<script type="text/javascript">
	$(function(){
	var url = decodeURI(window.location.href);
    var url = url.split("?")[1];
    var para = url.split("&");
    var len = para.length;
    var post_data = {};
    var arr = [];
    for(var i=0;i<len;i++){
        arr = para[i].split("=");
        post_data[arr[0]] = arr[1];
    }
    if (post_data["flightname"] == ''){
        url = 'http://127.0.0.1:8000/Myflightadmin/search_flight_by_City/'
        $.ajax({
			type: 'POST',
			url: url,
			data: post_data,
			dataType: 'json',
			success: function(data) {
			    //data = JSON.parse(data);
				console.log(data);
                if (data["is_exist"] == "1")
					printfight(data.flight);
				else
					alert("未查找到航班!")
			},
			error: function(xhr, type) {
				alert("与服务器连接失败search_flight_by_city:404!")
			}
		});
    }
    else{
        url = 'http://127.0.0.1:8000/Myflightadmin/search_flight_by_City/'
        $.ajax({
			type: 'POST',
			url: url,
			data: post_data,
			dataType: 'json',
			success: function(data) {
			    //data = JSON.parse(data);
				console.log(data);
                if (data["is_exist"] == "1")
					printfight(data.flight);
				else
					alert("未查找到航班!")
			},
			error: function(xhr, type) {
				alert("与服务器连接失败search_flight_by_id:404!")
			}
		});
    }
    function printfight(data)
        {
        	$('#creat_ui').empty();
        	$('#creat_ui').append('<ui> </ui>');
        	for(var i=0;i<data.length;i++)
        	{
        		var $trTemp = $("<li style='position: relative;'></li>");
        		$trTemp.append(
        			"<div class='li_com'>"+
						"<span class='w260'>"+
							"<b>"+
								"<span id='t1' title='东方航空'>"+"东方航空"+"</span>"+
								"<span id='t2' title='MU5183'>" +"MU5183"+"</span>"+
							"</b>"+
						"</span>"+
						"<span class='w150' id='t3' dplan='07:35'>"+"07:35"+"</span>"+
						"<span class='w150' id='t4' dplan='07:35'>"+"07:35"+"</span>"+
						"<span class='w150' id='t5'>"+"北京首都T2"+"</span>"+
						"<span class='w150' id='t6' aplan='09:50'>"+"09:50"+"</span>"+
						"<span class='w150' id='t7' aplan='09:50'>"+"09:50"+"</span>"+
						"<span class='w150' id='t8'>"+"上海浦东T1"+"</span>"+
						"<span class='w150' id='t9' aplan='90%'>"+"90%"+"</span>"+
						"<span class='w150 gre_cor' id='t10'>"+"到达"+"</span>"+
						"<span class='w150'><a href='javascript:;' id='a' onclick='cg(this)'>"+"修改"+"</a></span>"+
						"<span class='fob'><a href='javascript:;' class='log-reg-btn del_flight_btn' style='color:red;z-index:6;position: relative;'>"+"[删除航班]"+"</ a></span>"+
						"<div class='clear'></div></div>");
        		$trTemp.appendTo("#creat_ui");
        	}

        }
})
</script>
</head>
<script type="text/javascript">
	function geturl(){
	var url = decodeURI(window.location.href);
    var url = url.split("?")[1];
    var para = url.split("&");
    var len = para.length;
    var res = {};
    var arr = [];
    for(var i=0;i<len;i++){
        arr = para[i].split("=");
        res[arr[0]] = arr[1];
        alert(arr[0]);
    }
    return res;
}
</script>
<body class="bg">
	<div class="header">
		<div class="header-nei">
			<a href="javascript:;" style="color:#fff" onclick="javascript:history.back(-1);" class="back-up"><i class="iconfont">返回</i></a>
			<h2 class="header-title">航班查询结果</h2>
		</div>
	</div>

	<div class="flight_list">
		<div class="tit">
			<h1 title="北京首都---上海浦东">北京首都---上海浦东<span>4月19号周五 共21次航班</span></h1>
		</div>
		<div class="li_box" id="li_box">
			<div class="t_tit" id="t_tit">
				<p class="w260">航班信息</p>
				<p class="w150">计划起飞</p>
				<p class="w150">实际起飞</p>
				<p class="w150">出发地</p>
				<p class="w150">计划到达</p>
				<p class="w150">实际到达</p>
				<p class="w150">到达地</p>
				<p class="w150">准点率</p>
				<p class="w150">状态</p>
				<p class="w150">修改/保存</p>
				<p class="w150">删除</p>
				<div class="clear"></div>
			</div>
            <div id ="creat_ui">
			<ul id="list">

				<li style="position: relative;">
					<div class="li_com">
						<span class="w260">
							<b>
								<span id="t1"
								   title="东方航空">东方航空</span>
								<span id="t2"
								   title="MU5183">MU5183</span>
							</b>
						</span>
						<span class="w150" id="t3" dplan="07:35">07:35</span>
						<span class="w150" id="t4" dplan="07:35">07:35</span>
						<span class="w150" id="t5">北京首都T2</span>
						<span class="w150" id="t6" aplan="09:50">09:50</span>
						<span class="w150" id="t7" aplan="09:50">09:50</span>
						<span class="w150" id="t8">上海浦东T1</span>
						<span class="w150" id="t9" aplan="90%">90%</span>
						<span class="w150 gre_cor" id="t10">到达</span>
						<span class="w150">
							<a href="javascript:;" id="a" onclick="cg(this)">修改</a>
						</span>
						<span class="fob">
							<a href="javascript:;" class="log-reg-btn del_flight_btn" style="color:red;z-index:6;position: relative;">[删除航班]</a>
						</span>
						<div class="clear"></div>
					</div>
				</li>
		    </ul>
            </div>
		    </div>
	</div>
<!--content/-->
<div class="bg100"></div>
<!--错误提示-->
<div class="tip-errors-bg">
	<div class="tip-tip-box-nei">
		<strong><i class="iconfont">&#xe614;</i><em class="errors">错误提示</em></strong>
	</div>
	<!--tip-tip-box/-->
</div>
<!--tip-success-bg/-->
<!--正确提示-->
<div class="tip-success-bg">
	<div class="tip-tip-box-nei">
		<strong><i class="iconfont" style="color:#0F0;">&#xe611;</i><em class="success">正确提示</em></strong>
	</div>
	<!--tip-tip-box/-->
</div>
<!--tip-success-bg/-->
<script>
cg = function (obj) {
	var post_data = {
					airline:"",
					flightname:"",
					PDtime:"",
					CDtime:"",
					takeoff:"",
					PLtime:"",
					CLtime:"",
					landing:"",
					rate:"",
					status:"",
					date:""
	};
	var issubmit = 0;
	var zero = "a";
	var index = obj.id.toString().substr(0).charCodeAt()  - zero.charCodeAt() + 1;
	//alert(index);
	if (obj.innerHTML == '保存') {
		for (var i = index;i<index+10;i++){
			var o = document.getElementById("t" + String(i));
			if (o.childNodes[0].value) {
				issubmit = 1;
			} 
			else {
				issubmit = 0;
				break;
			}
		}
		if (issubmit == 1){
			for (var i = index;i<index+10;i++){
				var o = document.getElementById("t" + String(i));
				o.innerHTML = o.childNodes[0].value;
			}
			obj.innerHTML = '修改';
			$.ajax({
				type: 'POST',
				url: 'http://127.0.0.1:8000/Myflightadmin/mod_flight/',
				data: post_data,
				dataType: 'json',
				success: function(data) {
					data = JSON.parse(data);
	                if (data["status"] == "1")
						alert("修改成功!")
					else
						alert("修改失败,请重试!")
				},
				error: function(xhr, type) {
					alert("修改失败,无法与服务器连接!")
				}
			});
		}
		else{
			alert("存在未填写项目!");
		}
	}
	else{
		for (var i = index;i<index+10;i++){
			var o = document.getElementById("t" + String(i));
			o.innerHTML = "<input type='text' value='" + document.getElementById("t" + String(i)).innerHTML + "' />";
		}
		obj.innerHTML = '保存';
	}
}
</script>
</body>
</html>