{% load staticfiles %}
<!DOCTYPE html>
<html lang="zh-cn">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>航班查询结果</title>
<link href="{% static 'css/float.css' %}" rel="stylesheet">
<link href="{% static 'css/personCenter.css' %}" rel="stylesheet">
<link href="{% static 'css/widget_new.css' %}" rel="stylesheet">
<link href="{% static 'css/index_new.css' %}" rel="stylesheet">
<link href="{% static 'css/base.css' %}" rel="stylesheet">
<link href="{% static 'css/style.css' %}" rel="stylesheet">
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/style.js' %}"></script>
<script type="text/javascript">
    var datetime;
	$(function(){
	var url = decodeURI(window.location.href);
    var url = url.split("?")[1];
    var para = url.split("&");
    var len = para.length;
    var post_data = {};
    var arr = [];
    for(var i=0;i<len;i++){
        arr = para[i].split("=");
        post_data[arr[0]] = arr[1];
    }
    datetime = post_data['datetime'];
    post_data['is_detail'] = 0;
    post_data['detail_url'] = "--";
    if (post_data["flight_id"] == ''){
        url = '/Myflightadmin/search_flight_by_City/'
        $.ajax({
			type: 'GET',
			url: url,
			data: post_data,
			dataType: 'json',
			success: function(data) {
			    //data = JSON.parse(data);
				console.log(data);
                if (data["is_exist"] == "1")
					printfight(data.flight);
				else
					alert("未查找到航班!")
			},
			error: function(xhr, type) {
				alert("与服务器连接失败search_flight_by_city:404!")
			}
		});
    }
    else{
        url = '/Myflightadmin/search_flight_by_Id/'
        $.ajax({
			type: 'GET',
			url: url,
			data: post_data,
			dataType: 'json',
			success: function(data) {
			    //data = JSON.parse(data);
				console.log(data);
                if (data["is_exist"] == "1")
					printfight(data.flight);
				else
					alert("未查找到航班!")
			},
			error: function(xhr, type) {
				alert("与服务器连接失败search_flight_by_id:404!")
			}
		});
    }
    function printfight(data)
        {
        	$('#creat_ui').empty();
        	$('#creat_ui').append('<ui> </ui>');
        	var plan = "--";
        	var flight_index;
            var str_a = "a";
            flight_index = str_a.charCodeAt(0);
            var index = 0;
        	for(var i=0;i<data.length;i++)
        	{
                var str_index = String.fromCharCode(flight_index++);
        		var $trTemp = $("<li style='position: relative;'></li>");
        		$trTemp.append(
        			"<div class='li_com'>"+
						"<span class='w260'>"+
							"<b>"+
								"<span  title='"+data[i].company+"' id='t"+(index++)+"'>"+data[i].company+" | </span>"+
								"<span  title='"+data[i].flight_id+"' id='t"+(index++)+"'> " +data[i].flight_id+"</span>"+
							"</b>"+
						"</span>"
                +"<span class='w150' id='t"+(index++)+"'>"+data[i].plan_departure_time+"</span>"
        		+"<span class='w150' id='t"+(index++)+"'>"+(data[i].actual_departure_time==""?plan:data[i].actual_departure_time)+"</span>"
        		+"<span class='w150' id='t"+(index++)+"'>"+data[i].departure+"</span>"
                +"<span class='w150' id='t"+(index++)+"'>"+data[i].plan_arrival_time+"</span>"
                +"<span class='w150' id='t"+(index++)+"'>"+(data[i].actual_arrival_time==""?plan:data[i].actual_arrival_time)+"</span>"
                +"<span class='w150' id='t"+(index++)+"'>"+data[i].arrival+"</span>"
                +"<span class='w150' id='t"+(index++)+"'>"+data[i].punctuality_rate+"</span>"
                +"<span class='w150 gre_cor' id='t"+(index++)+"'>"+data[i].flight_status+"</span>"
                +"<span class='w150'><a href='javascript:;' id='"+str_index+"' onclick='cg(this)'>"+"修改"+"</a></span>"+
						"<span class='fob'><a onclick=del_submit('"+str_index+"') href='javascript:;' style='color:red;z-index:6;position: relative;'>"+"[删除航班]"+"</a></span>"+
						"<div class='clear'></div></div>");
        		$trTemp.appendTo("#creat_ui");
        	}

        }
})
</script>
</head>
<body class="bg">
	<div class="header">
		<div class="header-nei">
			<a href="javascript:;" style="color:#fff" onclick="javascript:history.back(-1);" class="back-up"><i class="iconfont">&#xe61f;</i></a>
			<h2 class="header-title">航班查询结果</h2>
		</div>
	</div>

	<div class="flight_list">
		<div class="tit">
			<h1 title="北京首都---上海浦东">北京首都---上海浦东<span>4月19号周五 共21次航班</span></h1>
		</div>
		<div class="li_box" id="li_box">
			<div class="t_tit" id="t_tit">
				<p class="w260">航班信息</p>
				<p class="w150">计划起飞</p>
				<p class="w150">实际起飞</p>
				<p class="w150">出发地</p>
				<p class="w150">计划到达</p>
				<p class="w150">实际到达</p>
				<p class="w150">到达地</p>
				<p class="w150">准点率</p>
				<p class="w150">状态</p>
				<p class="w150">修改/保存</p>
				<p class="w150">删除</p>
				<div class="clear"></div>
			</div>
			<ul id="list">
                <div id ="creat_ui">
                    </div>
		    </ul>
		    </div>
	</div>
<!--content/-->
<div class="bg100"></div>
<!--错误提示-->
<div class="tip-errors-bg">
	<div class="tip-tip-box-nei">
		<strong><i class="iconfont">&#xe614;</i><em class="errors">错误提示</em></strong>
	</div>
	<!--tip-tip-box/-->
</div>
<!--tip-success-bg/-->
<!--正确提示-->
<div class="tip-success-bg">
	<div class="tip-tip-box-nei">
		<strong><i class="iconfont" style="color:#0F0;">&#xe611;</i><em class="success">正确提示</em></strong>
	</div>
	<!--tip-tip-box/-->
</div>
<!--tip-success-bg/-->
<script>
var num = 10;
var zero = "a";
del_submit = function(data){
    var index = data.charCodeAt(0) - zero.charCodeAt(0);
    index = index*num + 1;
    var o = document.getElementById("t" + String(index));
    post_data = {};
    post_data['flight_id'] = o.innerHTML;
    post_data['datetime'] = datetime;
    $.ajax({
            type: 'POST',
            url: '/Myflightadmin/del_flight/',
            data: post_data,
            dataType: 'json',
            success: function(data) {
                if (data["issucceed"] == "1") {
                    alert("删除航班成功!")
                    location.reload(true);
                }
                else
                    alert("删除航班失败,请重试!")
            },
            error: function(xhr, type) {
                alert("删除失败,无法与服务器连接!del_flight404")
            }
    });
    //document.execCommand('Refresh');
    //location.reload();
}
cg = function (obj) {
	var post_data ={};
	var issubmit = 0;
	var index = obj.id.toString().substr(0).charCodeAt(0)  - zero.charCodeAt(0);
	//var msg = ["company","flight_id","plan_departure_time","actual_departure_time","departure","plan_arrival_time","actual_arrival_time","arrival","punctuality_rate","flight_status","delay_time","check_in","boarding_port","arriving_port","Baggage_num"];
    var msg = ["company","flight_id","plan_departure_time","actual_departure_time","departure","plan_arrival_time","actual_arrival_time","arrival","punctuality_rate","flight_status"];
	if (obj.innerHTML == '保存') {
		for (var i = index*num+2;i<index*num+num;i++){
			var o = document.getElementById("t" + String(i));
			if (o.childNodes[0].value) {
				issubmit = 1;
			}
			else {
				issubmit = 0;
				break;
			}
		}
		if (issubmit == 1){
		    var i;
			for ( i = index*num;i<index*num+num;i++){
				var o = document.getElementById("t" + String(i));
				if (i>=index*num+2)
				    o.innerHTML = o.childNodes[0].value;
				if(i == index*num){
				    o.innerHTML = o.innerHTML.replace(/[&\|\\\*^%$#@\-]/g,"");
                }
				post_data[msg[i-index*num]] = o.innerHTML;
			}
			/*
			for (i = num;i<msg.length;i++){
			    post_data[msg[i]] = '';
            }
            */
			obj.innerHTML = '修改';
			//post_data["flight"] = post_data;
			$.ajax({
				type: 'POST',
				url: '/Myflightadmin/mod_flight/',
				data: post_data,
				dataType: 'json',
				success: function(data) {
	                if (data["issucceed"] == "1") {
                        alert("修改成功!")
                        location.reload(true);
                    }
					else
						alert("修改失败,请重试!")
				},
				error: function(xhr, type) {
					alert("修改失败,无法与服务器连接!")
				}
			});
		}
		else{
			alert("存在未填写项目!");
		}
	}
	else{
		for (var i = index*num+2;i<index*num+num;i++){
			var o = document.getElementById("t" + String(i));
			o.innerHTML = "<input type='text' value='" + document.getElementById("t" + String(i)).innerHTML + "' />";
		}
		obj.innerHTML = '保存';
	}
}
</script>
</body>
</html>