



#content_index {
 float:left;
 width:100%;
 min-height:500px;
}

.index_list{ float:left; width:100%; margin-top:20px; position:relative;}

.flower { position:absolute; left:452px; top:212px; width:53px; height:53px; background: url(../images/icon_flower.png) top left no-repeat; z-index:999;}

.slide_image{
 float: left; 
 width:470px;
 height:235px;
 overflow:hidden;
}


.book_box{ float: left;  width:440px; height:235px;}
.book_box .head { float:left; width:100%; height:28px;}
.book_box .head .book_tab1 { float:left; width:86px; height:28px; margin-right:1px; background: url(../images/menu_book1.jpg) left top no-repeat; cursor:pointer;}
.book_box .head .book_tab2 { float:left; width:86px; height:28px; margin-right:1px; background: url(../images/menu_book2.jpg) left top no-repeat; cursor:pointer;}
.book_box .head .book_tab3 { float:left; width:87px; height:28px; margin-right:1px; background: url(../images/menu_book3.jpg) left top no-repeat; cursor:pointer;}
.book_box .head .book_tab4 { float:left; width:88px; height:28px; margin-right:1px; background: url(../images/menu_book4.jpg) left top no-repeat; cursor:pointer;}
.book_box .head .book_tab5 { float:left; width:89px; height:28px; background: url(../images/menu_book5.jpg) left top no-repeat; cursor:pointer;}
.book_box .head .book_tab1.active, .book_box .head .book_tab2.active, .book_box .head .book_tab3.active, .book_box .head .book_tab4.active, .book_box .head .book_tab5.active { background-position:left -28px;}

.book_box .body { float:left; width:100%; height:208px; background: url(../images/book_box.jpg) right bottom no-repeat;}
.book_box .body .search_form { float:left; width:400px; padding:10px 20px 0; height:196px; overflow:hidden;}
.book_box .body .information { float:left; width:auto; padding-left:15px; overflow:hidden;}
.book_box .body .information img { margin-right:5px;}
.book_box .body .search_form .book_content { float:left; width:100%; height:auto; }

.flight_news { float:left; width:360px; padding:initial}
.flight_news .category { float:left; width:360px; padding:10px 0; }
.flight_news .category input { float:left; width:14px; height:14px; margin:0; padding:0; }
.flight_news .category label { float:left; margin-right:20px; color:#0066cc;}
.flight_news .form_row { float:left; width:100%; padding-bottom:10px; height:16px; overflow:hidden; color:#333; }
.flight_news .form_btn { float:left; width:100%; }

.flight_news .form_row .col1 { float:left; width:60px; text-align:right; padding-top:3px; }
.flight_news .form_row .col2 { float:left; width:auto; margin-right:20px; display:inline; }
.flight_news .form_row .col3 { float:left; width:auto; }

#book_content2, #book_content3, #book_content4, #book_content5 { display:none;}


.index_body{
 float: left; 
 width:100%;
 height:200px;
 background: url(../images/index_body.jpg) left top no-repeat;
 position:relative;
}
.index_body .news { float:left; width:460px;}
.index_body .news .head { float:left; background: url(../images/news_bg.jpg) left top no-repeat; width:100%; height:50px; line-height:50px;}
.index_body .news .head.notice { background-position:0 -50px; margin-bottom:0;}
.index_body .news .head h1 { float:left; width:auto; padding-left:40px; font-size:14px; font-weight:bold; color:#333; cursor:pointer;}
.index_body .news .head h3 { float:right; width:50px; margin:0; padding-right:20px; text-align:right;}
.index_body .news .body { float:left; width:100%;}
.index_body .news .body h1 { float:left; padding:10px 0 0 30px;}
.index_body .news .body h1 img { width:112px; height:105px; border:1px #B9D9F4 solid; padding:1px;}
.index_body .news .body h2 { float:left; width:300px; padding-top:12px;}
.index_body .info { float:left; width:405px;}
.index_body .info .head { float:left; width:100%;}
.index_body .info .head h1 { float:left; width:300px; padding-left:50px; color:#333;}
.info .head h1 .tab { float:left; width:100%; height:auto; }
.info .head h1 .tab ul{margin:0;padding:0;}
.info .head h1 .tab li { float:left; list-style-type:none; width:55px; height:20px; margin-right:5px; padding-top:10px; color:#333; text-align:center; cursor:pointer;}
.info .head h1 .tab li:hover { background:#fff url(../images/tab_bg.jpg) left top repeat-x; color:#333; font-weight:bold;}
.info .head h1 .tab li.active { background:#fff url(../images/tab_bg.jpg) left top repeat-x; color:#333; font-weight:bold;}
.index_body .info .head h2 { float:right; padding:9px 20px 0 0; text-align:right;}
.index_body .info .body { float:left; width:100%; height:158px; background:#fff url(../images/line.jpg) center center no-repeat;}
.info .body .tab_content { float:left; padding:15px 10px 0 12px; height:auto; }
.info .body .tab_content ul{margin:0;padding:0;}
.info .body .tab_content li { float:left; list-style-type:none; width:170px; height:25px; line-height:25px; padding:0 10px;}
.info .body .tab_content li:hover { background-color:#E9F4EF; color:#333; font-weight:bold;}
.info .body .tab_content li h1{ float:left; width:70px;}
.info .body .tab_content li h2{ float:left; width:40px; font-weight:bold; margin-right:10px;}
.info .body .tab_content li h3{ float:left; background:url(../images/icon_time.gif) left center no-repeat; padding-left:12px;}

#tab_content2, #tab_content3, #tab_content4, #tab_content5, #news_content { display:none;}
.notice_detail{ padding:20px;}


.index_body .describe { float:left; width:100px; padding:148px 0 0 15px; line-height:5px; text-align:center;}
.index_body .describe input { margin-bottom:5px; }

.news_list { float:left; width:100%; height:auto; }
.news_list ul{margin:0;padding:0;}
.news_list li { list-style-type:none; width:280px;}
.news_list li a:link, .news_list li a:visited, .news_list li a:active { float:left; width:280px; line-height:19px; height:19px; margin-left:15px; padding-left:15px; color:#333; text-decoration:none; background: url(../images/icon_point.jpg) left center no-repeat; overflow:hidden; text-overflow: ellipsis; white-space: nowrap;}
.news_list li a:hover { color:#999; text-decoration:none; } 

.photo_slide {float: left; width:990px; margin-top:10px;}

.online_board { float:left; width:100%; height:166px; overflow:hidden;}
.online_board .category { float:left; width:360px; padding:15px 8px; }
.online_board .category input { width:14px; height:14px; margin:0; padding:0; vertical-align:middle;}
.online_board .category a:link, .online_board .category a:visited, .online_board .category a:active { text-decoration:underline; color:#333; }
.online_board .category a:hover { text-decoration:none; color:#000;}
.online_board .form_row { float:left; width:100%; padding-bottom:15px; color:#333; }
.online_board .form_row .col1 { float:left; width:55px; text-align:right; padding:4px 5px 0 0; }
.online_board .form_row .col2 { float:left; width:130px; }
.online_board .form_row .col2 input { width:112px; }
.online_board .form_row .col2 select { width:116px; }
.online_board .form_row .col3 { float:left; width:55px; text-align:right; padding:4px 5px 0 0; }
.online_board .form_row .col4 { float:left; width:140px; }
.online_board .form_row .col4 input { width:120px; }
.online_board .form_row .col2 span, .online_board .form_row .col4 span { color:#990000;}
.online_board .form_btn { float:left; width:375px; text-align:right; }
.online_board .form_link { float:left; width:100%; padding-top:15px; }
.online_board .form_link a:link, .online_board .form_link a:visited, .online_board .form_link a:active { text-decoration:underline; color:#333; margin-right:12px;}
.online_board .form_link a:hover { text-decoration:none; color:#666;}


.search_order1 { float:left; width:100%; padding:10px 0; height:145px; overflow:hidden;}
.search_order1 .category { float:left; width:380px; padding:10px; border-bottom:1px #7F9DB9 dashed; }
.search_order1 .category input { float:left; width:14px; height:14px; margin:0; padding:0; }
.search_order1 .category label { float:left; margin-right:20px; color:#333;}
.search_order1 .order_body { float:left; width:380px; padding:0 10px; margin:0; }


#order_ticket { float:left; width:100%; }
#order_ticket .title { float:left; width:100%; color:#333; padding:10px 0; }
#order_ticket .order_ticket_body { float:left; width:100%; color:#333; padding-bottom:15px; }
#order_ticket .order_ticket_body .col1 { float:left; width:60px; color:#333; padding-top:3px;}
#order_ticket .order_ticket_body .col2 { float:left; width:80px;}
#order_ticket .order_ticket_body .col3 { float:left; width:240px;}
#order_ticket .order_ticket_body .col3 input { width:130px;}
#order_ticket .order_ticket_body .col4 { float:left; width:135px; text-align:right; padding:10px 5px 0 0; line-height:20px; height:20px;}
#order_ticket .order_ticket_body .col5 { float:left; padding:10px 5px 0 0;}
#order_ticket .order_ticket_body .col5 input { width:130px;}
#order_ticket .order_ticket_body .col6 { float:left; padding-top:8px;}


#order_hotel { float:left; width:100%; display:none; }
#order_hotel .title { float:left; width:100%; color:#333; padding-top:10px; }
#order_hotel .order_hotel_list { float:left; width:100%; color:#333; padding-top:5px; }
#order_hotel .order_hotel_list .col1 { float:left; width:100px; color:#333; padding-top:3px;}
#order_hotel .order_hotel_list .col2 { float:left;}
#order_hotel .order_hotel_list .col2 input { width:140px;}
#order_hotel .order_hotel_list .col2 span { color:#990000;}
#order_hotel .btn { float:left; width:100%; text-align:right; }




.infiniteCarousel {
  width: 980px;
  height:100px;
  position: relative;
}

.infiniteCarousel .wrapper {
  width: 920px; /* .infiniteCarousel width - (.wrapper margin-left + .wrapper margin-right) */
  overflow: auto;
  height:100px;
  margin: 0 30px;
  position: absolute;
  top: 0;
}

.infiniteCarousel ul a img {
  width:220px;
  height:90px;
}

.infiniteCarousel .wrapper ul {
  width: 9999px;
  list-style-image:none;
  list-style-position:outside;
  list-style-type:none;
  margin:0;
  padding:0;
  position: absolute;
  top: 0;
}

.infiniteCarousel ul li {
  display:block;
  float:left;
  padding: 0 5px;
  height: 90px;
  width: 220px;
}

.infiniteCarousel ul li a img {
  display:block;
}

.infiniteCarousel .arrow {
  display: block;
  height: 95px;
  width: 24px;
  background: url(../images/icon_shift.jpg) no-repeat 0 0;
  text-indent: -999px;
  position: absolute;
  top: 0;
  cursor: pointer;
}

.infiniteCarousel .forward {
  background-position: 0 0;
  font-size:0;
  right: 0;
}

.infiniteCarousel .back {
  background-position: 0 -190px;
  left: 0;
}

.infiniteCarousel .forward:hover {
  background-position: 0 -95px;
}

.infiniteCarousel .back:hover {
  background-position: 0 -285px;
}










.info { float:left; width:405px;}
.info .head { float:left; width:100%;background:url(../images/city_bg.jpg) top left no-repeat; }
.info .head h1 { float:left; width:300px; padding-left:50px; color:#333;}
.info .head h1 .tab { float:left; width:100%; height:auto; }
.info .head h1 .tab ul{margin:0;padding:0;}
.info .head h1 .tab li { float:left; list-style-type:none; width:55px; height:20px; margin-right:5px; padding-top:10px; color:#333; text-align:center; cursor:pointer;}
.info .head h1 .tab li:hover { background:#fff url(../images/tab_bg.jpg) left top repeat-x; color:#333; font-weight:bold;}
.info .head h1 .tab li.active { background:#fff url(../images/tab_bg.jpg) left top repeat-x; color:#333; font-weight:bold;}
.info .head h2 { float:right; padding:9px 20px 0 0; text-align:right;}
.info .body { float:left; width:100%; height:158px; background:#fff url(../images/line.jpg) center center no-repeat;}


.ATATR,.NDRTR,.ARRTR{
	background:#DEEDFA;
}
.SCHTR,.ATDTR,.DEPTR{
	background:#E9F2FC;
}
.CNLTR{
	background:#E1E1E1;
}
.DELTR,.RTRTR{
	background:#FAFEA3;
}
.sameNO{
	background:#AFADE0;
}
.loading{
	height:180px;
	background:#E9F2FC;
}
.loadingError{
	background:#DEEDFA;
}
.loadingError span{
	color:#D00000;
	font-size:16px;
}
span.numberDig{
	font-family:Arial, Helvetica, sans-serif;
	font-style:italic;
	font-weight:bold;
}
#jsonData{
	display:none;
}
.footer{
	margin-bottom:15px;
	margin-top:10px;
}
#footerFree a{
	float:right;
	height:30px;
	line-height:30px;
	margin-left:25px;
	color:#DD0000;
}
