<!DOCTYPE html>
<html lang="en"><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>home</title>
    <!-- Bootstrap core CSS -->

	<link href="/static/css/bootstrap.css" rel="stylesheet"  crossorigin="anonymous">
    <link href="/static/css/cover.css" rel="stylesheet">

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
    <!-- Custom styles for this template -->
  </head>
  <body class="text-center">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
  <header class="masthead mb-auto">
    <div class="inner">
      <h3 class="masthead-brand"></h3>
      <nav class="nav nav-masthead justify-content-center">
        <a class="nav-link active" href="#"></a>
        <a class="nav-link" href="#"></a>
        <a class="nav-link" href="#"></a>
      </nav>
    </div>
  </header>

  <main role="main" class="inner cover">
    <h1 class="cover-heading">我的航班</h1>
    <p class="lead">查询航班，订制属于你自己的飞行行程</p>
    <p class="lead">
      <a href="/airplane/index/" class="btn btn-lg btn-secondary">开始旅行</a>
    </p>
  </main>

  <footer class="mastfoot mt-auto">
    <div class="inner">
      <p></p>
    </div>
  </footer>
</div>


</body></html>
