{% load staticfiles %}
<!DOCTYPE html>
<html lang="en" style="width: 1536px">
<head>
    <meta charset="UTF-8">
    <title>行程</title>
    <link rel="stylesheet" href="{% static 'css/personCenter.css' %}">
    <link rel="stylesheet" href="{% static 'css/widget_new.css'%}">
    <link rel="stylesheet" href="{% static 'css/base.css'%}"/>
    <link rel="stylesheet" href="{% static 'css/float.css'%}"/>

    <script src="{% static 'js/jquery.min.js'%}"></script>
    <style>
        .fc_tableLi2:hover{
            font-size: 16px;
            text-decoration: underline;
        }
        .fc_tableLi9:hover{
             font-size: 16px;
            text-decoration: underline;
        }
    </style>
</head>
<body>
    <div class="header">
			<div class="topMenu clearfix">
				<ul class="menu item pull-left">
					<li class="top-menu-item  ">
						<a href="/airplane/index/" class="menu-hd"><span>首页</span></a>
					</li>
					<li class="top-menu-item  top-menu-curr ">
						<a href="/airplane/trip/" class="menu-hd"><span>出行管理</span></a>
					</li>
					<li class="top-menu-item   ">
						<a href="/user/login/" class="menu-hd cur_pointer"><span>登录/注册</span></a>
					</li>
				</ul>
			</div>
    </div>
    <div class="gray_bg" style="width: 100%">
        <div class="personCenterWrap" style="width: 100% ; background-color: ghostwhite">
            <div class="personInfo clear" style="background-color: ghostwhite">
                <div class="flightCustomize" id="parentd" style="width: 1100px">
                    <div class="pcbox_head">
                        <div class="pcbox_head_text" style="color: black">我的航班 &nbsp| &nbsp行程管理</div>
        {% comment %}                <div class="pcIcon_tip" id="pcIcon_tip2">
                            <div class="pcIcon_tipBox" id="pcIconTipBox2" style="">
                                <i class="pcIcon_triangle"></i>航班订制记录数据包括飞常准APP和网站中所关注订制的航班数据。
                            </div>
                        </div>
                        <div class="toggle_person" style="float:right;">
                            <input type="hidden" value="2019" id="friendYear">
                            <a href="javascript:;" id="myOrder" class="toggleA on" role="self" title="显示我为本人订制的记录">本人</a>
                            <a href="javascript:;" id="friendOrder" class="toggleA" role="friend" title="显示我为他人订制的记录">他人</a>
                            <span class="toggleSpan"></span>
                        </div>{% endcomment %}
                    </div>
                    <div class="fc_tableWrap">
                        <div class="fc_table">
                            <div class="fc_tableHead">
                                <ul>
                                    <li class="fc_tableLi1" id="fc_tableLi1" style="width:107px; cursor:default;">日期</li>
                                    <li class="fc_tableLi3" style="width:110px;">航班号</li>
                                    <li class="fc_tableLi3" style="width:165px;">出发地</li>
                                    <li class="fc_tableLi4" style="width:107px;">计划出发时间</li>
                                    <li class="fc_tableLi5" style="width:170px;">到达地</li>
                                    <li class="fc_tableLi6" style="width:140px;">计划到达时间</li>
                                    <li class="fc_tableLi8" id="fc_tableLi8" style="width:120px; cursor:default;">
                                        <span id="orderName">订制身份</span>
                                    </li>
                                    <li class="fc_tableLi7" style="width:125px; display:none;">手机号</li>
                                    <li class="fc_tableLi7" style="width:100px;">是否取消</li>
                                </ul>
                                <div class="fc_tableContent" id="recordTable">
                                </div>
                             </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<script>
    var tripdata
    $(document).ready(function(){
        $.get("/user/getFavorateFlight/?user_id="+ 1,function(data,status){
            console.log(data);
            tripdata=data;
            print(data.trips);
        })
    })
    function print(data){
        for(i=0;i<data.length;i++)
        {
            var $trTemp=$("<div id='son_div"+i+"' class='fc_table_bar'></div>");
            $trTemp.appendTo('#recordTable');
        }
        for (i=0;i<data.length;i++)
        {
            var $trTemp = $("<ul></ul>");
        		//$trTemp.append("<li class='fc_tableLi1'>"+ data[i].flight.datetime +"</li>");
                $trTemp.append("<li class='fc_tableLi1'>"+ data[i].flight.datetime+"</li>");
        		$trTemp.append("<li class='fc_tableLi2' style='cursor:pointer;color:blue;' onclick='detail("+i+")'>"+ data[i].flight.flight_id +"</li>");
        		$trTemp.append("<li class='fc_tableLi3'>"+data[i].flight.departure+"</li>");
        		$trTemp.append("<li class='fc_tableLi4'>"+data[i].flight.plan_departure_time+"</li>");
        		$trTemp.append("<li class='fc_tableLi5'>"+ data[i].flight.arrival+"</td>");
        		$trTemp.append("<li class='fc_tableLi6'>"+  data[i].flight.plan_arrival_time +"</td>");
        		var user_type=judge_user(data[i].user_type);
        		$trTemp.append("<li class='fc_tableLi8'>"+user_type+"</td>");
        		$trTemp.append("<li class='fc_tableLi9'style='width:100px;'>"+ "<a href='javascript:;' class='fc_handle_cancel' onclick='deletetrip("+i+")'>"+"删除"+"</a>"+"</li>");
        		//$trTemp.appendTo('#son_div');
                $trTemp.appendTo('#recordTable').children('div').eq(i);
        }
    }
    function judge_user(i)
    {
        if(i==0)
            return ('接机人');
        else if(i==1)
            return('乘机人');
        else
            return('送机人');
    }

    function deletetrip(i)
    {
         var trip = tripdata.trips;
         $.post("/user/postDelete/",{user_id:1,trip_id:trip[i].trip_id},function(data,status) {
             if (data.issucceed == 1)
             {
                  alert("删除成功");
                  window.location.reload();
             }
             else
                 alert("删除失败")
         })
    }
    function detail(i)
    {
        var data=tripdata.trips;
        console.log(data);
        console.log(data[i].flight.flight_id);
        console.log(data[i].flight.datetime);
        console.log(data[i].flight.detail_url);
        $.get("/airplane/getSearchFlightById/?flight_id="+data[i].flight.flight_id+"&datetime="+data[i].flight.datetime+"&is_detail="+1+"&detail_url="+data[i].flight.detail_url,function(data,status) {
            if (data.issucceed == 1)
                printdetail(data.flight);
            else
                alert("不存在");
        })
    }
    function printdetail(data2)
    {
        var data=data2[0];
        var searchUrl = encodeURI("/airplane/detail/?searchText=" + data.flight_id+'~'+data.company+'~'+data.real_flight_id+'~'+data.datetime+'~'+data.plan_departure_time+'~'+data.plan_arrival_time+'~'+data.actual_departure_time+'~'+data.actual_arrival_time+'~'+data.flight_status+'~'+data.departure+'~'+data.arrival+'~'+data.punctuality_rate+'~'+data.delay_time+'~'+data.check_in+'~'+data.boarding_port+'~'+data.arriving_port+'~'+data.Baggage_num+'~'+data.length+'~'+data.time+'~'+data.proc+'~'+data.plane+'~'+data.age+'~'+data.forecast+'~'+data.old_state+'~'+data.d_weather+'~'+data.d_pm+'~'+data.d_state+'~'+data.a_weather+'~'+data.a_pm+'~'+data.a_state+'~'+data.detail_url); //使用encodeURI编码
        location.href = searchUrl;
    }
</script>
</body>
</html>